.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid #efefef; }

.logo {
  text-align: center;
  padding: 20px 20px;
  font-size: 24px;
  line-height: 46px;
  font-weight: 300;
  color: #666666;
  display: flex;
  justify-content: left;
  align-items: center; }

.menu-nav {
  padding: 20px 25px;
  position: absolute;
  top: 140px;
  overflow-y: auto;
  bottom: 0;
  width: 100%;
  box-sizing: border-box; }
  .menu-nav span {
    color: #666666;
    font-size: 16px;
    font-weight: 600; }
  .menu-nav a {
    display: block;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none; }
    .menu-nav a:hover {
      color: #333333; }
    .menu-nav a.active {
      color: #10CF93; }
  .menu-nav > .nav > li {
    margin-bottom: 20px; }
  .menu-nav > .nav {
    padding: 0; }
  .menu-nav .nav {
    list-style: none; }
    .menu-nav .nav .nav {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  text-align: center;
  border-top: 1px solid #efefef;
  display: block;
  text-decoration: none; }
  .footer i, .footer span {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    color: #666666; }
  .footer i {
    font-size: 17px;
    padding-right: 5px; }
  .footer span {
    font-size: 14px; }
  .footer:hover {
    text-decoration: none; }
    .footer:hover i, .footer:hover span {
      color: #10CF93; }

.page {
  padding-left: 300px; }

.page-content {
  padding: 40px;
  margin: 0 auto;
  width: 885px;
  max-width: 100%;
  padding-bottom: 80px; }

img {
  max-width: 100%; }

.switch-page {
  position: fixed;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 300px;
  right: 0; }
  .switch-page .previous, .switch-page .next {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    position: absolute;
    top: 0; }
    .switch-page .previous i, .switch-page .previous span, .switch-page .next i, .switch-page .next span {
      display: inline-block;
      vertical-align: top;
      line-height: 20px;
      color: #10CF93; }
    .switch-page .previous i, .switch-page .next i {
      font-size: 16px; }
    .switch-page .previous span, .switch-page .next span {
      font-size: 15px;
      padding: 0 5px; }
    .switch-page .previous:hover, .switch-page .next:hover {
      text-decoration: none; }
  .switch-page .previous {
    left: 0; }
  .switch-page .next {
    right: 0; }

blockquote {
  padding: 0.2em 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  background: #f3f3f3; }

h1 {
  border-bottom: 1px solid #efefef;
  margin-bottom: 30px;
  line-height: 50px;
  font-size: 34px;
  font-weight: 800;
  color: #333333; }

h2 {
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  margin-top: 4em; }

h2#Introduction {
  margin: 0; }

h3 {
  padding-bottom: 0.7em;
  margin: 45px 0 0.8em;
  border-bottom: 1px solid #ddd; }

p, ul li {
  color: #444444;
  font-size: 15px;
  line-height: 23px; }

a {
  color: #10CF93; }
  a:hover {
    color: #0ca071; }

h4[id^="Tree-"],
h4[id^="Selection-"] {
  margin-top: 50px; }
  h4[id^="Tree-"]:before,
  h4[id^="Selection-"]:before {
    content: '# ';
    color: #10CF93; }
  h4[id^="Tree-"] a,
  h4[id^="Selection-"] a {
    color: #333333;
    text-decoration: none; }
    h4[id^="Tree-"] a:hover,
    h4[id^="Selection-"] a:hover {
      text-decoration: underline; }

code {
  color: #4D4D4C; }

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  background-color: #fbfbfb;
  font-family: monospace, Consolas,"Liberation Mono",Menlo,Courier,monospace; }

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight {
  font-family: monospace, Consolas,"Liberation Mono",Menlo,Courier,monospace;
  background-color: #fbfbfb;
  border: 1px solid #efefef;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 0;
  border-radius: 3px; }
  .highlight table {
    width: 100%; }
    .highlight table .gutter, .highlight table .code {
      border: 0; }
    .highlight table .gutter {
      white-space: nowrap;
      border-right: 1px solid #efefef; }
      .highlight table .gutter pre {
        color: #999; }
    .highlight table .code {
      width: 99%; }

.highlight pre {
  background-color: #fbfbfb;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin-bottom: 0; }

pre code, pre tt {
  background-color: transparent;
  border: none; }

.editor, .editor .gutter {
  background-color: #FFFFFF;
  color: #4D4D4C; }

.editor.is-focused .cursor {
  border-color: #AEAFAD; }

.editor.is-focused .selection .region {
  background-color: #D6D6D6; }

.editor.is-focused .line-number.cursor-line-no-selection, .editor.is-focused .line.cursor-line {
  background-color: #EFEFEF; }

.comment {
  color: #8E908C; }

.keyword.operator.class, .constant.other, .source.php.embedded.line {
  color: #666969; }

.variable, .support.other.variable, .string.other.link, .string.regexp, .entity.name.tag, .entity.other.attribute-name, .meta.tag, .declaration.tag, .markup.deleted.git_gutter {
  color: #C82829; }

.constant.numeric, .constant.language, .support.constant, .constant.character, .variable.parameter, .punctuation.section.embedded, .keyword.other.unit {
  color: #F5871F; }

.entity.name.class, .entity.name.type.class, .support.type, .support.class {
  color: #C99E00; }

.string, .constant.other.symbol, .entity.other.inherited-class, .entity.name.filename, .markup.heading, .markup.inserted.git_gutter {
  color: #718C00; }

.keyword.operator, .constant.other.color {
  color: #3E999F; }

.entity.name.function, .meta.function-call, .support.function, .keyword.other.special-method, .meta.block-level, .markup.changed.git_gutter {
  color: #4271AE; }

.keyword, .storage, .storage.type {
  color: #8959A8; }

.invalid {
  color: #FFFFFF;
  background-color: #C82829; }

.meta.separator {
  color: #FFFFFF;
  background-color: #4271AE; }

.invalid.deprecated {
  color: #FFFFFF;
  background-color: #8959A8; }

.markup.inserted.diff, .markup.deleted.diff, .meta.diff.header.to-file, .meta.diff.header.from-file {
  color: #FFFFFF; }

.markup.inserted.diff, .meta.diff.header.to-file {
  background-color: #718c00; }

.markup.deleted.diff, .meta.diff.header.from-file {
  background-color: #c82829; }

.meta.diff.header.from-file, .meta.diff.header.to-file {
  color: #FFFFFF;
  background-color: #4271ae; }

.meta.diff.range {
  font-style: italic;
  color: #3e999f; }

table {
  width: 100%;
  margin-bottom: 3em; }

.highlight table {
  margin-bottom: 0; }

table th {
  text-align: left;
  white-space: nowrap;
  color: #666;
  font-weight: 400;
  border-bottom: 1px solid #d8d8d8;
  padding: 15px;
  max-width: 250px; }

table td {
  border-bottom: 1px solid #d8d8d8;
  padding: 15px;
  max-width: 250px; }

body {
  font-family: 'Open Sans'; }
