// Colors
$bordersColor: #efefef;
$primary: #10CF93;

// Sizes
$menuWidth: 300px;

@import './_menu';
@import './_content';
@import './_typography';
@import './_code';

body {
  font-family: 'Open Sans';
}
