<!DOCTYPE html>
<html>
<head>
  <title>Checkboxes</title>
  <meta charset="UTF-8">

  <style media="screen">

  </style>
</head>
<body>
  <div id="app">
    <tree :data="treeData" :options="treeOptions" ref="tree">
      <span slot-scope="{ node }">
        {{ node.text }}

        <button @click.stop="remove(node)">✂</button>
      </span>
    </tree>

    <div class="tree-controls">
      <select v-model="adderType">
        <option value="append">Append</option>
        <option value="prepend">Prepend</option>
      </select>
      <input type="text" v-model="newNodeText" />
      <button type="button" name="button" @click="addNode">Add node</button>
    </div>
  </div>
</body>
  <!-- first import Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="/liquor-tree.umd.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: function() {
        return {
          treeData: getTreeData(),
          treeOptions: {
            checkbox: true
          },

          newNodeText: 'New Node TEXT',
          adderType: 'append'
        }
      },

      methods: {
        addNode() {
          if (!this.newNodeText) {
            return alert('Add note text!')
          }

          let type = this.adderType

          this.$refs.tree[type](this.newNodeText)
          this.newNodeText = '';
        },

        remove(node) {
          node.remove()
        }
      }
    })


    function getTreeData() {
      return [
          {
            text: 'JS: The Right Way',

            // it makes node expanded
            state: { expanded: true },
            children: [
              { text: 'Getting Started' },
              { text: 'JavaScript Code Style', state: { selected: true } },
              { text: 'The Good Parts', children: [
                { text: 'OBJECT ORIENTED' },
                { text: 'ANONYMOUS FUNCTIONS' },
                { text: 'FUNCTIONS AS FIRST-CLASS OBJECTS' },
                { text: 'LOOSE TYPING' }
              ]},
              { text: 'Patterns', children: [
                { text: 'DESIGN PATTERNS', state: { expanded: true }, children: [
                  { text: 'Creational Design Patterns', children: [
                    { text: 'Factory' },
                    { text: 'Prototype' },
                    { text: 'Mixin' },
                    { text: 'Singleton' }
                  ]},
                  { text: 'Structural Design Patterns'}
                ]},
                { text: 'MV* PATTERNS', cildren: [
                  { text: 'MVC Pattern' },
                  { text: 'MVP Pattern' },
                  { text: 'MVVM Pattern' }
                ]}
              ]}
            ]
          }
        ]
    }
  </script>
</html>
